
<mat-card>
    <mat-card-content>
        <h1>CGI</h1>
        <h2>Contact us</h2><br>
        <form>
        <app-text-input labelName="Name" typeName="text" inputName="name" [formControlInput]="formControlName">
            <mat-error *ngIf="formControlName.invalid">{{getErrorMessage()}}</mat-error>
        </app-text-input><br>
        <app-text-input labelName="Email" typeName="email" inputName="email" [formControlInput]="formControlEmail">
            <mat-error *ngIf="formControlEmail.invalid">{{getErrorMessageEmail()}}</mat-error>
        </app-text-input><br> 
        <app-text-input  labelName="Number" typeName="number" inputName="number" [formControlInput]="formControlNumber">
            <mat-error *ngIf="formControlNumber.invalid">{{getErrorMessageNumber()}}</mat-error>
        </app-text-input><br> 
        <app-interests-input [formControlInput]="formControlInterests">
            <mat-error *ngIf="formControlInterests.invalid">{{getErrorMessageInterests()}}</mat-error>
        </app-interests-input><br>
        <app-message-input></app-message-input><br>
        <app-button-input [formName]="formControlName" [formEmail]="formControlEmail" [formNumber]="formControlNumber" [formInterests]="formControlInterests"></app-button-input>
        </form>
    </mat-card-content>
</mat-card>