h1{
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    margin-top: 5%;
    
}

h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 200%;
    margin-left: 35%;
    margin-top: 2%;
    
}

    form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    
   

 }