h1{
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 400%;
    margin: auto;
    margin-top: 5%;
    width: 7%;
}

h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 200%;
    margin: auto;
    margin-top: 2%;
    width: 10%;
}

// form{
//     background-color: rgb(11, 207, 54);
// }