

form {
    display: flex;
   
    .text{
        margin-top: 1.7%;
        margin-left: 57%;
        font-size: 200%;
    }
    
   .button{
        margin-top: 1%;
        margin-left: 1%;
    }
   }