

div {
    display: flex;
   
    .text{
        margin-top: 2%;
        margin-left: 80%;
        font-size: 200%;
        color:rgba(82, 54, 171, 1);
    }
    
   .button{
        margin-left: 1%;
        color:rgba(255, 255, 255, 1);
        background-color:rgba(82, 54, 171, 1);
    }
   }